*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgba(10, 10, 70, 0.507);
}
.Number-generator{
    text-align: center;
    padding: 10px;
}
.Number-generator button{
    border: 1px solid;
    padding: 6px;
    color: grey;
    background-color: aquamarine;
    border-radius: 5px;
}
.Number-generator h1{
    padding: 9px;
    
}
.p-gen{
    display: flex;
    justify-content: space-around;
    /* width: 50%; */
    text-align: center;
    padding: 26px;
    flex-direction: row;
}
.container .p-gen .p-1{
    border: 2px solid;
    padding: 13px;
}
.p-gen .p-2{
    padding: 12px;
    border-radius: 2px;
    border: 2px solid;
}
.container button{
    text-align: center;
}
.container{
    box-shadow: 2px;
    border-radius: 7px;
    background-color: aliceblue;
    padding: 10px 0;
    text-align: center;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;

}

.container .p-gen .p-1{
    border-radius: 8px;
    padding: 12px;
    margin: 0 auto;
    width: 20%;
}

.container .p-gen .p-2{
    border-radius: 6px;
    padding: 12px;
    margin: 0 auto;
    width: 20%;
}

.container .p-gen2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.container .p-gen2 button{
    padding: 4px;
    margin: 0 auto;
    font-weight: bold;
    width: 70%;
    border-radius: 7px;
}
.container .p-gen2 {
    padding: 13px;
    margin: 5px;
    font-size: large;
    font-weight: bold;

}